version: '3.8'

services:
  frontend:
    image: ${ALIYUN_ACR_REGISTRY}/test6662/blog/frontend:${IMAGE_TAG}
    container_name: frontend-service
    restart: always
    ports:
      - "80:80"  # 根据你的实际端口配置调整
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge