version: '3.8'

services:
  # # 后端服务
  # backend:
  #   # 从 GitHub Container Registry 拉取镜像
  #   image: ghcr.io/${CR_USERNAME}/backend:${IMAGE_TAG}
  #   container_name: backend
  #   ports:
  #     - "3000:3000"
  #   restart: always
  #   networks:
  #     - app-network

  # # 前端服务
  frontend:
    # 从 GitHub Container Registry 拉取镜像
    image: ghcr.io/${CR_USERNAME}/frontend:${IMAGE_TAG}
    container_name: frontend
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend
    networks:
      - app-network

# 自定义网络（让前后端容器互通）
networks:
  app-network:
    driver: bridge